<div class="page-layout simple right-sidebar inner-scroll">

  <!-- CENTER -->
  <div class="center" fxFlex>

    <!-- CONTENT -->
    <div class="content" #scrollContainer fusePerfectScrollbar>
      <!-- <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet> -->
      <fee-list
        [fees]="feeEntities$ | async"
        [selected]="selectedFee$ | async"
        [isLoading]="isLoading$ | async"
        (select)="selectFee($event)"
        (deleteFee)="deleteFee($event)"
      ></fee-list>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->

</div>