<div class="page-layout simple right-sidebar inner-scroll">

  <!-- CENTER -->
  <div class="center" fxFlex>

    <!-- CONTENT -->
    <div class="content" #scrollContainer fusePerfectScrollbar>
      <!-- <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet> -->
      <business-list
        [businesss]="businessEntities$ | async"
        [selected]="selectedBusiness$ | async"
        [isLoading]="isLoading$ | async"
        (select)="selectBusiness($event)"
        (deleteBusiness)="deleteBusiness($event)"
      ></business-list>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->

</div>