<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{selectedContact.customerID ? 'Edit' : 'Create' }} Customer Contact</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content class="p-24 m-0" fxLayout="row" fxLayout.lt-md="column">
    <form name="contactForm" [formGroup]="contactForm" class="compose-form" fxLayout="column" style="max-width: 320px !important;">
      <div fxLayout="column" fxLayoutAlign="start start">
        
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label> E-mail </mat-label>
          <input #mainInput matInput placeholder="Email" name="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label> Full Name </mat-label>
          <input #mainInput matInput placeholder="Full Name" name="fullName" formControlName="fullName" required>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label> Title </mat-label>
          <input #mainInput matInput placeholder="Title" name="title" formControlName="title" required>
        </mat-form-field>
      </div>
    </form>
    <div style="padding: 0 24px 24px 24px; overflow: auto; height: 300px; width: 100%;">
      <mat-table class="item-list" matSort [dataSource]="dataSource" >
        <!-- email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell style="min-width: 150px;" *matHeaderCellDef>E-mail</mat-header-cell>
          <mat-cell *matCellDef="let row" style="font-size: 11px; min-width: 150px;">{{row.email}}</mat-cell>
        </ng-container>
        <!-- fullName Column -->
        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.fullName}}</mat-cell>
        </ng-container>
        <!-- title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
        </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #moreMenu="matMenu">
              <button mat-menu-item (click)="onDelete(row)"><mat-icon>delete</mat-icon> Delete</button>
            </mat-menu>
          </mat-cell>
        </ng-container>

    
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"
          [ngClass]="{'selected' : row.contactID == selectedContact?.contactID}" [@animate]="{value:'*',params:{y:'100%'}}" matRipple>
        </mat-row>
      </mat-table>
    </div>
    
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="accent" (click)="save()" class="dialog-button" [disabled]="contactForm.invalid"
      aria-label="SAVE">
      <div fxLayoutAlign="center">
        <span *ngIf="!isSaving">Add</span>
        <mat-spinner diameter="20" *ngIf="isSaving"></mat-spinner>
      </div>
    </button>
    <button mat-raised-button color="primary" (click)="matDialogRef.close()" class="dialog-button" [disabled]="isSaving">
      <div fxLayoutAlign="center">
        <span>Close</span>
      </div>
    </button>
  </div>
</div>