<div class="page-layout simple right-sidebar inner-scroll">

  <!-- CENTER -->
  <div class="center" fxFlex>

    <!-- CONTENT -->
    <div class="content" #scrollContainer fusePerfectScrollbar>
      <!-- <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet> -->
      <user-list
        [users]="userEntities$ | async"
        [selected]="selectedUser$ | async"
        [isLoading]="isLoading$ | async"
        (select)="selectUser($event)"
        (deleteUser)="deleteUser($event)"
      ></user-list>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->

</div>