
<!-- <div>
  <button class="btn btn-primary" (click)="login()">Log In</button>
  <button class="btn btn-primary" (click)="logout()">Log Out</button>
  <button class="btn btn-primary" (click)="showToken()">Show Token</button>
</div> -->


<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/fuse.svg">
      </div>

      <div class="title big-title">SIGN UP</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
          <!-- <mat-icon matSuffix class="secondary-text">name</mat-icon> -->
          <mat-error *ngIf="loginForm.get('name').hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                              loginForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="passwordConfirm">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Confirm Password is required
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" style="font-size: 13px !important;" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            By clicking you agree to the <a style="margin-left: 4px"> Terms and Conditions</a>.
          </mat-checkbox>

          <!-- <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
            Forgot Password?
          </a> -->
        </div>
<!-- 
        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
          [disabled]="loginForm.invalid" routerLink="/shipments">
          SIGN UP
        </button> -->

      </form>
<!-- 
      <div class="separator">
        <span class="text">New To FBA Simplify?</span>
      </div> -->
      <!-- 
          <button mat-raised-button class="google">
              Log in with Google
          </button>

          <button mat-raised-button class="facebook">
              Log in with Facebook
          </button> -->

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <!-- <span class="text">New To FBA Simplify</span> -->
        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" routerLink="/shipments">
          Create Your Account
        </button>
        <!-- <a class="link" [routerLink]="'/pages/auth/register'">Create an account</a> -->
      </div>
      <p>
        Already have an account? <a href="/login">Login</a>.
    </div>
  </div>
</div>