<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{selectedShipment?.shipmentID ? 'Edit' : 'Create' }} Shipment <span
          *ngIf="selectedShipment?.shipmentID"> - {{selectedShipment?.shipmentID}}</span> </span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content style="margin: 0; padding: 0; width: 100%; overflow: hidden;" fxLayout="row">
    <form *ngIf="shipmentForm" name="itemForm" [formGroup]="shipmentForm" class="compose-form w-100-p" style="overflow: auto">
      <mat-tab-group style="overflow: auto; position: relative; height: 100%;" fxFlex
        (selectedTabChange)="onSelectedTabChange()" [selectedIndex]="selectedTabIndex" #tabGroup class="accent white">
        <mat-tab [disabled]="isLoading" label="General">
          <ng-template mat-tab-label>
            <span class="mr-8">General Info</span>
            <!-- <mat-icon style="color: red;">error_outline</mat-icon> -->
          </ng-template>
          <div class="content p-24" [@animate]="{value:'*',params:{x:'100%'}}">
            <div class="body-container m-0">
              <div fxLayout="column" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> Shipper </mat-label>
                  <mat-select placeholder="Select Shipper" name="shipperID" formControlName="shipperID">
                    <mat-option *ngFor="let shipper of shippersList" [value]=shipper.businessID>{{ shipper.companyName
                      }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> Customer </mat-label>
                  <mat-select placeholder="Select Customer" name="customerID" formControlName="customerID">
                    <mat-option [value]=null>None</mat-option>
                    <mat-option *ngFor="let customer of customersList" [value]=customer.customerID>{{
                      customer.companyName + ' - ' + customer.email }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> Origin FFW </mat-label>
                  <mat-select placeholder="Select Origin FFW" name="fee" formControlName="originFFW">
                    <mat-option [value]=null>None</mat-option>
                    <mat-option *ngFor="let ffw of ffwList" [value]=ffw.businessID>{{ ffw.companyName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> Origin 3PL </mat-label>
                  <mat-select placeholder="Select Origin 3PL" name="origin3PL" formControlName="origin3PL">
                    <mat-option [value]=null>None</mat-option>
                    <mat-option *ngFor="let threepl of threePLList" [value]=threepl.businessID>{{ threepl.companyName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> Destination FFW </mat-label>
                  <mat-select placeholder="Select Destination FFW" name="destinationFFW" formControlName="destinationFFW">
                    <mat-option [value]=null>None</mat-option>
                    <mat-option *ngFor="let ffw of ffwList" [value]=ffw.businessID>{{ ffw.companyName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> Destination 3PL </mat-label>
                  <mat-select placeholder="Select Destination 3PL" name="destination3PL" formControlName="destination3PL">
                    <mat-option [value]=null>None</mat-option>
                    <mat-option *ngFor="let threepl of threePLList" [value]=threepl.businessID>{{ threepl.companyName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab [disabled]="isLoading || !selectedShipment?.shipmentID" label="Shipment">
          <ng-template mat-tab-label>
            <span class="mr-8">Shipment Info</span>
            <!-- <mat-icon style="color: red;">error_outline</mat-icon> -->
          </ng-template>
          <div class="content p-24" [@animate]="{value:'*',params:{x:'100%'}}">
            <div class="body-container m-0">
              <div fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" floatLabel="always" style="width: 33%;">
                  <mat-label>Status</mat-label>
                  <mat-select placeholder="Choose Status" name="status" formControlName="status">
                    <mat-option [value]=null>None</mat-option>
                    <mat-option *ngFor="let item of appService.dropDownTypes.status" value="{{item}}">{{ item }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> HBL </mat-label>
                  <input matInput placeholder="HBL" name="hblNumber" formControlName="hblNumber">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> MBL </mat-label>
                  <input matInput placeholder="MBL" name="mblNumber" formControlName="mblNumber">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label> Container Number </mat-label>
                  <input matInput placeholder="Container Number" name="containerNumber"
                    formControlName="containerNumber">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>ETD</mat-label>
                  <input formControlName="etd" matInput [matDatepicker]="ETD">
                  <mat-datepicker-toggle matSuffix [for]="ETD"></mat-datepicker-toggle>
                  <mat-datepicker #ETD></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>ETA</mat-label>
                  <input formControlName="eta" matInput [matDatepicker]="ETA">
                  <mat-datepicker-toggle matSuffix [for]="ETA"></mat-datepicker-toggle>
                  <mat-datepicker #ETA></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>TXL</mat-label>
                  <input #inputDate formControlName="txl" matInput [matDatepicker]="TXL">
                  <mat-datepicker-toggle matSuffix [for]="TXL"></mat-datepicker-toggle>
                  <mat-datepicker #TXL></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" style="width: 33%;">
                  <mat-label>Delivery Location</mat-label>
                  <mat-select placeholder="Delivery Location" name="locationID" formControlName="deliveryLocationID">
                    <mat-option [value]=null>None</mat-option>
                    <mat-option *ngFor="let location of locationsList" [value]="location.locationID">{{ location.locationName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" style="width: 66%;">
                  <mat-label>Shipper Reference Number</mat-label>
                  <input matInput placeholder="Shipper Reference Number" name="shipperReference"
                    formControlName="shipperReference">
                </mat-form-field>
                <mat-checkbox formControlName="isfFiled">
                  ISF Filed
                </mat-checkbox>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab [disabled]="isLoading || !selectedShipment?.shipmentID" label="Items">
          <ng-template mat-tab-label>
            <span class="mr-8">Items</span>
          </ng-template>

          <div class="content p-24 bottom-actions" [@animate]="{value:'*',params:{x:'100%'}}">
            <div class="main-list-layout body-container m-0 top">
              <div fxLayout="column" fxLayoutAlign="start center">
                <mat-table class="item-list w-100-p" matSort [dataSource]="dataSourceLines"
                  [@animateStagger]="{value:'50'}" *ngIf="!isLoading && dataSourceLines">
                  <!-- index Column -->
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" class="text-muted">{{i + 1}}</mat-cell>
                  </ng-container>
                  <!-- itemNumber Column -->
                  <ng-container matColumnDef="itemItemNumber">
                    <mat-header-cell *matHeaderCellDef>Item Number</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.itemItemNumber}}</mat-cell>
                  </ng-container>
                  <!-- itemName Column -->
                  <ng-container matColumnDef="itemItemName">
                    <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.itemItemName}}</mat-cell>
                  </ng-container>
                  <!-- htsCode Column -->
                  <ng-container matColumnDef="htsCode">
                    <mat-header-cell *matHeaderCellDef>HTSCode</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.itemHTSCode}}</mat-cell>
                  </ng-container>
                  <!-- unitPrice Column -->
                  <ng-container matColumnDef="unitPrice">
                    <mat-header-cell *matHeaderCellDef>Unit Price</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.unitPrice | currency}}</mat-cell>
                  </ng-container>
                  <!-- quantity Column -->
                  <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.quantity}}</mat-cell>
                  </ng-container>
                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item (click)="openEditShipmentLineDialog(row, 'edit')">
                          <mat-icon>build</mat-icon> Edit
                        </button>
                        <hr>
                        <button mat-menu-item (click)="onDeleteLine(row)">
                          <mat-icon>delete</mat-icon> Delete
                        </button>
                      </mat-menu>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedLinesColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedLinesColumns;" (click)="onSelectLine(row)"
                    [ngClass]="{'selected' : row.shipmentLineID == selectedShipmentLineRow?.shipmentLineID}"
                    [@animate]="{value:'*',params:{y:'100%'}}" matRipple>
                  </mat-row>
                </mat-table>
              </div>
            </div>
            <div class="body-container m-0">
              <div fxLayout="row" fxLayoutAlign="start start">
                <button mat-raised-button color="primary" [disabled]="isLoading" fxLayoutAlign="center center"
                  class="mr-32" (click)="openEditShipmentLineDialog({}, 'create')">
                  <mat-icon class="mr-8">add_circle_outline</mat-icon>
                  Add Item
                </button>
                <button mat-raised-button color="accent" class="mr-8">
                  Print Packing Slips
                </button>
                <button mat-raised-button color="accent">
                  Print Commercial Invoice
                </button>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab [disabled]="isLoading || !selectedShipment?.shipmentID" label="Packages">
          <ng-template mat-tab-label>
            <span class="mr-8">Packages</span>
          </ng-template>
          <div class="content p-24 bottom-actions" [@animate]="{value:'*',params:{x:'100%'}}">

            <div class="main-list-layout body-container m-0 top">
              <div fxLayout="column" fxLayoutAlign="start center">
                <mat-table class="item-list w-100-p" matSort [dataSource]="dataSourcePackages"
                  [@animateStagger]="{value:'50'}" *ngIf="!isLoading && dataSourcePackages">

                  <!-- index Column -->
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" class="text-muted">{{i + 1}}</mat-cell>
                  </ng-container>
                  <!-- dimension Column -->
                  <ng-container matColumnDef="dimension">
                    <mat-header-cell *matHeaderCellDef>Dimension</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.dimension}}</mat-cell>
                  </ng-container>
                  <!-- shippingCarrierID Column -->
                  <ng-container matColumnDef="shippingCarrierID">
                    <mat-header-cell *matHeaderCellDef>Carrier</mat-header-cell>
                    <!-- <mat-cell *matCellDef="let row">{{appService.shippingCarriersMap[row.shippingCarrierID]}}</mat-cell> -->
                    <mat-cell *matCellDef="let row">UPS</mat-cell>
                  </ng-container>
                  <!-- weight Column -->
                  <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.weight + ' ' + row.weightUnit}}</mat-cell>
                  </ng-container>
                  <!-- shippingServiceID Column -->
                  <ng-container matColumnDef="shippingServiceID">
                    <mat-header-cell *matHeaderCellDef>Shipping Service</mat-header-cell>
                    <!-- <mat-cell *matCellDef="let row">{{appService.shippingServicesMap[row.shippingServiceID]}}</mat-cell> -->
                    <mat-cell *matCellDef="let row">Ground</mat-cell>
                  </ng-container>
                  <!-- trackingNumber Column -->
                  <ng-container matColumnDef="trackingNumber">
                    <mat-header-cell *matHeaderCellDef>Tracking Number</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.trackingNumber}}</mat-cell>
                  </ng-container>
                  <!-- status Column -->
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
                  </ng-container>

                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item (click)="openEditShipmentPackageDialog(row, 'edit')">
                          <mat-icon>build</mat-icon> Edit
                        </button>
                        <hr>
                        <button mat-menu-item (click)="onDeletePackage(row)">
                          <mat-icon>delete</mat-icon> Delete
                        </button>
                      </mat-menu>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedPackageColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedPackageColumns;" (click)="onSelectPackage(row)"
                    [ngClass]="{'selected' : row.shipmentPackageID == selectedShipmentPackageRow?.shipmentPackageID}"
                    [@animate]="{value:'*',params:{y:'100%'}}" matRipple>
                  </mat-row>
                </mat-table>
              </div>
            </div>
            <div class="body-container m-0">
              <div fxLayout="row" fxLayoutAlign="start start">
                <button mat-raised-button color="primary" [disabled]="isLoading" fxLayoutAlign="center center"
                  class="mr-32" (click)="openEditShipmentPackageDialog({}, 'create')">
                  <mat-icon class="mr-8">add_circle_outline</mat-icon>
                  Add Package
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab [disabled]="isLoading || !selectedShipment?.shipmentID" label="Fees">
          <ng-template mat-tab-label>
            <span class="mr-8">Fees</span>
          </ng-template>
          <div class="content p-24 bottom-actions" [@animate]="{value:'*',params:{x:'100%'}}">

            <div class="main-list-layout body-container m-0 top">
              <div fxLayout="column" fxLayoutAlign="start center">
                <mat-table class="item-list w-100-p" matSort [dataSource]="dataSourceFees"
                  [@animateStagger]="{value:'50'}" *ngIf="!isLoading && dataSourceFees">
                  <!-- index Column -->
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" class="text-muted">{{i + 1}}</mat-cell>
                  </ng-container>
                  <!-- feeType Column -->
                  <ng-container matColumnDef="feeFeeType">
                    <mat-header-cell *matHeaderCellDef>Fee Type</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.feeFeeType}}</mat-cell>
                  </ng-container>
                  <!-- description Column -->
                  <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
                  </ng-container>
                  <!-- feeAmount Column -->
                  <ng-container matColumnDef="feeAmount">
                    <mat-header-cell *matHeaderCellDef>Fee</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.feeAmount | currency}}</mat-cell>
                  </ng-container>
                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item (click)="openEditShipmentFeeDialog(row, 'edit')">
                          <mat-icon>build</mat-icon> Edit
                        </button>
                        <hr>
                        <button mat-menu-item (click)="onDeleteFee(row)">
                          <mat-icon>delete</mat-icon> Delete
                        </button>
                      </mat-menu>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedFeeColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedFeeColumns;" (click)="onSelectFee(row)"
                    [ngClass]="{'selected' : row.shipmentFeeID == selectedShipmentFeeRow?.shipmentFeeID}"
                    [@animate]="{value:'*',params:{y:'100%'}}" matRipple>
                  </mat-row>
                </mat-table>
              </div>
            </div>
            <div class="body-container m-0">
              <div fxLayout="row" fxLayoutAlign="start start">
                <button mat-raised-button color="primary" [disabled]="isLoading" fxLayoutAlign="center center"
                  class="mr-32" (click)="openEditShipmentFeeDialog({}, 'create')">
                  <mat-icon class="mr-8">add_circle_outline</mat-icon>
                  Add Fee
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab [disabled]="isLoading || !selectedShipment?.shipmentID" label="Documents">
          <ng-template mat-tab-label>
            <span class="mr-8">Documents</span>
          </ng-template>
          <div class="content p-24" [@animate]="{value:'*',params:{x:'100%'}}">

            <div fxLayout="column" fxLayoutAlign="start start"
              style="margin-bottom: 64px; border-bottom: 1px solid #e0e0e0;">
              <div fxLayout="row" fxLayoutAlign="space-between center"
                style="flex: 1; width: 100%; position: relative; padding: 0px 32px 16px 0px;"
                [ngStyle.lt-lg]="{'margin-bottom': '20px; padding: 0 !important;'}">
                <div class="title" style="font-size: 18px; font-weight: 600;">
                  Detail Manifest
                </div>
                <div style="max-width: 300px; flex: 1">
                  <steps-preview></steps-preview>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lt-lg="column-reverse" style="width: 100%; padding: 24px 0px 32px 0">
                <div fxLayout="column" style="margin-right: 24px;" [ngStyle.lt-lg]="{'margin-top': '12px;'}">
                  <div fxHide.lt-lg>
                    <button (click)="fileInput1.click()" style="margin-top: 5px; width: 100px; height: 40px;"
                      mat-raised-button color="primary">
                      <div fxLayoutAlign="center">
                        <span>Upload PDF</span>
                      </div>
                    </button>
                    <button *ngIf="fileDetailManifest64" (click)="viewPDF('fileDetailManifest64Original')"
                      style="margin-top: 5px; margin-left: 7px; width: 100px; height: 40px;" mat-raised-button
                      color="accent" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                      <div fxLayoutAlign="center">
                        <span>View PDF</span>
                      </div>
                    </button>
                    <!-- Download button only if contains FilePath -->
                    <!-- <button *ngIf="fileDetailManifest64" (click)="downloadPDF('fileDetailManifest64Original')"  style="margin-top: 5px;  width: 100px; height: 40px;" mat-raised-button color="accent" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                              <div fxLayoutAlign="center">
                                  <span>Download</span>
                              </div>
                          </button> -->
                  </div>
                  <div fxHide.gt-md>
                    <button (click)="fileInput1.click()" style="margin-top: 5px; width: 100px; height: 40px;"
                      mat-raised-button color="primary">
                      <div fxLayoutAlign="center">
                        <span>Upload PDF</span>
                      </div>
                    </button>
                    <!-- Download button only if contains FilePath -->
                    <!-- <button *ngIf="fileDetailManifest64" (click)="downloadPDF('fileDetailManifest64Original')"  style="margin-top: 5px; margin-left: 7px;  width: 100px; height: 40px;" mat-raised-button color="accent" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                              <div fxLayoutAlign="center">
                                  <span>Download</span>
                              </div>
                          </button> -->
                  </div>
                  <input type="file" id="fileInput1" style="display: none;" accept="image/*" id="cameraInput"
                    name="cameraInput" (change)="onFileSelected($event, 'fileDetailManifest');"
                    (click)="fileInput1.value = null" accept=".pdf" #fileInput1>
                  <div style="flex: 1; margin-top: 20px;">
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                      <mat-label>Expected Date</mat-label>
                      <input placeholder="Enter expected date" #inputDate formControlName="Date" matInput
                        [matDatepicker]="Date">
                      <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                      <mat-datepicker #Date></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="flex-end flex-start">
                    <!-- <button mat-mini-fab color="primary"> <mat-icon>check</mat-icon> </button>
                          <div style="letter-spacing: 0.5px; opacity: 0.8;">APPROVE</div> -->
                    <button (click)="fileInput1.click()" style="margin-top: 5px; width: 100px; height: 40px;"
                      mat-raised-button color="primary">
                      <div fxLayoutAlign="center">
                        <span>Approve</span>
                      </div>
                    </button>
                  </div>
                </div>
                <div #containerWidth style="width: 100%; position: relative;">
                  <div fxFlex *ngIf="!fileDetailManifest64" fxLayoutAlign="center center"
                    style="padding: 4px; height: 300px; max-height: 300px; width: 300px; max-width: 300px; background-color: #ddd">
                    <mat-icon style="color: #fff; width: 32px; height: 32px; font-size: 32px;">help</mat-icon>
                  </div>
                  <div fxFlex *ngIf="fileDetailManifest64" fxLayoutAlign="center center"
                    style="position: relative; padding: 4px; height: 300px; max-height: 300px; width: 300px; max-width: 300px; overflow: auto;">
                    <embed style="height: 100%;" height="100%" width="{{containerWidth.offsetWidth}}"
                      [src]="fileDetailManifest64" type="application/pdf">
                  </div>
                  <div *ngIf="fileDetailManifest64" class="remove"
                    style="z-index: 9999999 !important; position: absolute; top: -7px; right: -7px; background: none;">
                    <button matTooltip="Remove File" (click)="onRemovePdf('fileDetailManifest64')"
                      class="mat-elevation-z2" mat-icon-button style="background-color: #fff;">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start"
              style="margin-bottom: 64px; border-bottom: 1px solid #e0e0e0;">
              <div fxLayout="row" fxLayoutAlign="space-between center"
                style="flex: 1; width: 100%; position: relative; padding: 0px 32px 16px 0px;"
                [ngStyle.lt-lg]="{'margin-bottom': '20px; padding: 0 !important;'}">
                <div class="title" style="font-size: 18px; font-weight: 600;">
                  BL Document
                </div>
                <div style="max-width: 300px; flex: 1">
                  <steps-preview></steps-preview>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lt-lg="column-reverse" style="width: 100%; padding: 24px 0px 32px 0">
                <div fxLayout="column" style="margin-right: 24px;" [ngStyle.lt-lg]="{'margin-top': '12px;'}">
                  <div fxHide.lt-lg>
                    <button (click)="fileInput1.click()"
                      style="margin-top: 5px; margin-left: 7px; width: 100px; height: 40px;" mat-raised-button
                      color="primary">
                      <div fxLayoutAlign="center">
                        <span>Upload PDF</span>
                      </div>
                    </button>
                    <button *ngIf="fileBLDocument64" (click)="viewPDF('fileBLDocument64Original')"
                      style="margin-top: 5px; width: 100px; height: 40px;" mat-raised-button color="accent"
                      [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                      <div fxLayoutAlign="center">
                        <span>View PDF</span>
                      </div>
                    </button>
                    <!-- Download button only if contains FilePath -->
                    <!-- <button *ngIf="fileBLDocument64" (click)="downloadPDF('fileBLDocument64Original')"  style="margin-top: 5px;  width: 100px; height: 40px;" mat-raised-button color="accent" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                              <div fxLayoutAlign="center">
                                  <span>Download</span>
                              </div>
                          </button> -->
                  </div>
                  <div fxHide.gt-md>
                    <button (click)="fileInput1.click()" style="margin-top: 5px; width: 100px; height: 40px;"
                      mat-raised-button color="primary">
                      <div fxLayoutAlign="center">
                        <span>Upload PDF</span>
                      </div>
                    </button>
                    <!-- Download button only if contains FilePath -->
                    <!-- <button *ngIf="fileBLDocument64" (click)="downloadPDF('fileBLDocument64Original')"  style="margin-top: 5px; margin-left: 7px;  width: 100px; height: 40px;" mat-raised-button color="accent" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                              <div fxLayoutAlign="center">
                                  <span>Download</span>
                              </div>
                          </button> -->
                  </div>
                  <input type="file" id="fileInput1" style="display: none;" accept="image/*" id="cameraInput"
                    name="cameraInput" (change)="onFileSelected($event, 'fileBLDocument');"
                    (click)="fileInput1.value = null" accept=".pdf" #fileInput1>
                  <div style="flex: 1; margin-top: 20px;">
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                      <mat-label>Expected Date</mat-label>
                      <input placeholder="Enter expected date" #inputDate formControlName="Date2" matInput
                        [matDatepicker]="Date2">
                      <mat-datepicker-toggle matSuffix [for]="Date2"></mat-datepicker-toggle>
                      <mat-datepicker #Date2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="flex-end flex-start">
                    <!-- <button mat-mini-fab color="primary"> <mat-icon>check</mat-icon> </button>
                          <div style="letter-spacing: 0.5px; opacity: 0.8;">APPROVE</div> -->
                    <button (click)="fileInput1.click()" style="margin-top: 5px; width: 100px; height: 40px;"
                      mat-raised-button color="primary">
                      <div fxLayoutAlign="center">
                        <span>Approve</span>
                      </div>
                    </button>
                  </div>
                </div>
                <div #containerWidth style="width: 100%; position: relative;">
                  <div fxFlex *ngIf="!fileBLDocument64" fxLayoutAlign="center center"
                    style="padding: 4px; height: 300px; max-height: 300px; width: 300px; max-width: 300px; background-color: #ddd">
                    <mat-icon style="color: #fff; width: 32px; height: 32px; font-size: 32px;">help</mat-icon>
                  </div>
                  <div fxFlex *ngIf="fileBLDocument64" fxLayoutAlign="center center"
                    style="position: relative; padding: 4px; height: 300px; max-height: 300px; width: 300px; max-width: 300px; overflow: auto;">
                    <embed style="height: 100%;" height="100%" width="{{containerWidth.offsetWidth}}"
                      [src]="fileBLDocument64" type="application/pdf">
                  </div>
                  <div *ngIf="fileBLDocument64" class="remove"
                    style="z-index: 9999999 !important; position: absolute; top: -7px; right: -7px; background: none;">
                    <button matTooltip="Remove File" (click)="onRemovePdf('fileBLDocument64')" class="mat-elevation-z2"
                      mat-icon-button style="background-color: #fff;">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start"
              style="margin-bottom: 64px; border-bottom: 1px solid #e0e0e0;">
              <div fxLayout="row" fxLayoutAlign="space-between center"
                style="flex: 1; width: 100%; position: relative; padding: 0px 32px 16px 0px"
                [ngStyle.lt-lg]="{'margin-bottom': '20px; padding: 0 !important;'}">
                <div class="title" style="font-size: 18px; font-weight: 600;">
                  Commercial Invoice / Packing List
                </div>
                <div style="max-width: 300px; flex: 1">
                  <steps-preview></steps-preview>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lt-lg="column-reverse" style="width: 100%; padding: 24px 0px 32px 0">
                <div fxLayout="column" style="margin-right: 24px;" [ngStyle.lt-lg]="{'margin-top': '12px;'}">
                  <div fxHide.lt-lg>
                    <button (click)="fileInput1.click()" style="margin-top: 5px; width: 100px; height: 40px;"
                      mat-raised-button color="primary">
                      <div fxLayoutAlign="center">
                        <span>Upload PDF</span>
                      </div>
                    </button>
                    <button *ngIf="filePackingList64" (click)="viewPDF('filePackingList64Original')"
                      style="margin-top: 5px; width: 100px; height: 40px;" mat-raised-button color="accent"
                      [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                      <div fxLayoutAlign="center">
                        <span>View PDF</span>
                      </div>
                    </button>
                    <!-- Download button only if contains FilePath -->
                    <!-- <button *ngIf="fileBLDocument64" (click)="downloadPDF('filePackingList64Original')"  style="margin-top: 5px; margin-left: 7px; width: 100px; height: 40px;" mat-raised-button color="accent" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                              <div fxLayoutAlign="center">
                                  <span>Download</span>
                              </div>
                          </button> -->
                  </div>
                  <div fxHide.gt-md>
                    <button (click)="fileInput1.click()" style="margin-top: 5px; width: 100px; height: 40px;"
                      mat-raised-button color="primary">
                      <div fxLayoutAlign="center">
                        <span>Upload PDF</span>
                      </div>
                    </button>
                    <!-- Download button only if contains FilePath -->
                    <!-- <button *ngIf="fileBLDocument64" (click)="downloadPDF('filePackingList64Original')"  style="margin-top: 5px; margin-left: 7px; width: 100px; height: 40px;" mat-raised-button color="accent" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                              <div fxLayoutAlign="center">
                                  <span>Download</span>
                              </div>
                          </button> -->
                  </div>
                  <input type="file" id="fileInput1" style="display: none;" accept="image/*" id="cameraInput"
                    name="cameraInput" (change)="onFileSelected($event, 'filePackingList');"
                    (click)="fileInput1.value = null" accept=".pdf" #fileInput1>
                  <div style="flex: 1; margin-top: 20px;">
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                      <mat-label>Expected Date</mat-label>
                      <input placeholder="Enter expected date" #inputDate formControlName="Date3" matInput
                        [matDatepicker]="Date3">
                      <mat-datepicker-toggle matSuffix [for]="Date3"></mat-datepicker-toggle>
                      <mat-datepicker #Date3></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="flex-end flex-start">
                    <!-- <button mat-mini-fab color="primary"> <mat-icon>check</mat-icon> </button>
                          <div style="letter-spacing: 0.5px; opacity: 0.8;">APPROVE</div> -->
                    <button (click)="fileInput1.click()" style="margin-top: 5px; width: 100px; height: 40px;"
                      mat-raised-button color="primary">
                      <div fxLayoutAlign="center">
                        <span>Approve</span>
                      </div>
                    </button>
                  </div>
                </div>
                <div #containerWidth style="width: 100%; position: relative;">
                  <div fxFlex *ngIf="!filePackingList64" fxLayoutAlign="center center"
                    style="padding: 4px; height: 300px; max-height: 300px; width: 300px; max-width: 300px; background-color: #ddd">
                    <mat-icon style="color: #fff; width: 32px; height: 32px; font-size: 32px;">help</mat-icon>
                  </div>
                  <div fxFlex *ngIf="filePackingList64" fxLayoutAlign="center center"
                    style="position: relative; padding: 4px; height: 300px; max-height: 300px; width: 300px; max-width: 300px; overflow: auto;">
                    <embed style="height: 100%;" height="100%" width="{{containerWidth.offsetWidth}}"
                      [src]="filePackingList64" type="application/pdf">
                  </div>
                  <div *ngIf="filePackingList64" class="remove"
                    style="z-index: 9999999 !important; position: absolute; top: -7px; right: -7px; background: none;">
                    <button matTooltip="Remove File" (click)="onRemovePdf('filePackingList64')" class="mat-elevation-z2"
                      mat-icon-button style="background-color: #fff;">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab [disabled]="isLoading || !selectedShipment?.shipmentID" label="Contacts">
          <ng-template mat-tab-label>
            <span class="mr-8">Contacts</span>
          </ng-template>
          <div class="content p-24 bottom-actions" [@animate]="{value:'*',params:{x:'100%'}}">

            <div class="main-list-layout body-container m-0 top">
              <div fxLayout="column" fxLayoutAlign="start center">
                <mat-table class="item-list w-100-p" matSort [dataSource]="dataSourceContacts"
                  [@animateStagger]="{value:'50'}" *ngIf="!isLoading && dataSourceContacts">
                  <!-- index Column -->
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" class="text-muted">{{i + 1}}</mat-cell>
                  </ng-container>


                  <!-- contactFullName Column -->
                  <ng-container matColumnDef="contactFullName">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.contactFullName}}</mat-cell>
                  </ng-container>
                  <!-- email Column -->
                  <ng-container matColumnDef="contactEmail">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.contactEmail}}</mat-cell>
                  </ng-container>
                  <!-- updates Column -->
                  <ng-container matColumnDef="updates">
                    <mat-header-cell *matHeaderCellDef>updates</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.updates}}</mat-cell>
                  </ng-container>
                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu">
                        <!-- <button mat-menu-item (click)="openEditShipmentContactDialog({}, 'edit')"><mat-icon>build</mat-icon> Edit</button>
                        <hr> -->
                        <button mat-menu-item (click)="onDeleteContact(row)">
                          <mat-icon>delete</mat-icon> Delete
                        </button>
                      </mat-menu>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedContactsColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedContactsColumns;" (click)="onSelectContact(row)"
                    [ngClass]="{'selected' : row.shipmentContactID == selectedShipmentContactRow?.shipmentContactID}"
                    [@animate]="{value:'*',params:{y:'100%'}}" matRipple>
                  </mat-row>
                </mat-table>
              </div>
            </div>
            <div class="body-container m-0">
              <div fxLayout="row" fxLayoutAlign="start start">
                <button mat-raised-button color="primary" [disabled]="isLoading" fxLayoutAlign="center center"
                  class="mr-32" (click)="openEditShipmentContactDialog({}, 'create')">
                  <mat-icon class="mr-8">add_circle_outline</mat-icon>
                  Add Contact
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="media.isActive('lt-md')" [disabled]="isLoading" label="Messages" class="accent">
          <div class="fuse-white" style="height: 100%;" fxLayout="column">
            <ng-container *ngTemplateOutlet="chat"></ng-container>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>


    <div fxHide fxShow.gt-sm fxLayout="column" style="width: 280px; min-width: 280px; max-width: 280px;">
      <div class="title accent" fxLayout="row" fxLayoutAlign="center center" style="height: 65px;">
        <mat-icon class="fuse-white-fg">chat</mat-icon>
        <div class="chat-dialog-title" style="padding-left: 8px;">Messages</div>
      </div>
      <ng-container *ngTemplateOutlet="chat"></ng-container>
      <!-- <chat-panel-shipments style="height: 100%; position: relative;"></chat-panel-shipments> -->
    </div>



  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="accent" (click)="save(true)" class="dialog-button" aria-label="SAVE">
      <div fxLayoutAlign="center">
        <span *ngIf="!isSaving">SAVE</span>
        <mat-spinner diameter="20" *ngIf="isSaving"></mat-spinner>
      </div>
    </button>
  </div>
</div>

<ng-template #chat>
  <div fxFlex style="padding: 12px 6px; overflow: auto; border-left: 1px solid #ddd">
    <div *ngFor="let comment of commentsList" style="border-bottom: 1px solid #ddd; padding: 8px; margin-bottom: 16px;" class="mat-elevation-z1">
      <div style="font-weight: 100; font-size: 12px;">{{comment.createdByName}}</div>
      <div style="margin: 8px 0;">{{comment.comment}}</div>
      <div style="color: #777; font-weight: 100; font-size: 12px;">{{comment.localDate | date:'MMM d, y, h:mm a'}}</div>
    </div>
  </div>
  <div class="reply-form" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center" style="padding: 6px 12px 0 12px; border-left: 1px solid #ddd">
    <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
      <input matInput [(ngModel)]="chatComment" name="message" placeholder="Type your message">
    </mat-form-field>
    <button class="send-message-button" mat-icon-button (click)="addMessage()" aria-label="Send message" style="background-color: #f6f6f6; border-radius: 100%;">
      <mat-icon class="secondary-text" color="accent" style="color: rgba(0, 0, 0, 0.54) !important">send</mat-icon>
    </button>
  </div>
</ng-template>