<table class="table">
  <thead>
    <tr class="table-success">
      <th scope="col">ID</th>
      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">SELECT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let business of businesses">
      <th scope="row">{{business.id}}</th>
      <td class="text-center">{{business.name}}</td>
      <td scope="col" class="text-center">
        <button (click)="businessSelected(business)">SELECT</button>
      </td>
    </tr>
  </tbody>
</table>