<div class="dashboard-layout">
  <div class="mb-32" fxLayout="row"  fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column" >
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>local_shipping</mat-icon></div>Shipments</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div>Carrier Drop Off <div class="circle accent">{{dashboardInfo?.shipmentOpen}}</div></div>
        <div>Carrier Picked Up <div class="circle accent">{{dashboardInfo?.shipmentClosed}}</div></div>
        <!-- <div>Cancelled Shipments <div class="circle accent">{{dashboardInfo?.shipmentCancelled}}</div></div> -->
      </div>
    </div>
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column" >
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>people</mat-icon></div>Customers</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div>Total Customers <div class="circle accent">{{dashboardInfo?.customer}}</div></div>
        <div></div>
      </div>
    </div>
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column" >
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>receipt_long</mat-icon></div>Invoices</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div>Open Invoices <div class="circle accent">{{dashboardInfo?.invoiceOpen}}</div></div>
        <div>Closed Invoices <div class="circle accent">{{dashboardInfo?.invoiceClosed}}</div></div>
        <div>Past Due Invoices <div class="circle accent">{{dashboardInfo?.invoicePastDue}}</div></div>
      </div>
    </div>
  </div>

  <div class="mb-32" fxLayout="row"  fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column" >
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>dns</mat-icon></div>Items</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div>Total Items <div class="circle accent">{{dashboardInfo?.item}}</div></div>
        <div></div>
      </div>
    </div>
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column">
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>person</mat-icon></div>Users</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div>Total Users <div class="circle accent">{{dashboardInfo?.businessUser}}</div></div>
        <div></div>
      </div>
    </div>
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column">
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>build</mat-icon></div>Settings</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div><a [routerLink]="['/dashboard']">Account Info</a></div>
        <div><a [routerLink]="['/dashboard']">User Profile</a></div>
        <div><a [routerLink]="['/dashboard']">Notification Preferences</a></div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column" >
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>location_on</mat-icon></div>Locations</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div><a [routerLink]="['/location']">Manage Locations</a></div>
        <div></div>
      </div>
    </div>
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column" >
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>supervisor_account</mat-icon></div>Shipping Accounts</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div><a [routerLink]="['/shipment']">Manage Shipping Accounts</a></div>
        <div></div>
      </div>
    </div>
    <div class="fuse-card mat-elevation-z2 w-100-p" fxLayout="column" >
      <div class="card-header">
        <h1 fxLayoutAlign="start center"><div class="circle icon-circle primary mr-8"><mat-icon>monetization_on</mat-icon></div>Fees</h1>
      </div>
      <div class="card-body" fxLayout="column">
        <div><a [routerLink]="['/fee']">Manage Fees</a></div>
        <div></div>
      </div>
    </div>
  </div>
</div>