<div class="main-list-layout list-container">

  <!-- HEADER  -->
  <div class="sub-header accent" fxLayout="column" fxLayoutAlign="center start">
    <div class="breadcrumb text-truncate h1 p24" [@animate]="{value:'*',params:{x:'50px'}}">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h1 fxLayout="row" fxLayoutAlign="start center"> <button mat-icon-button [routerLink]="['../']">
            <mat-icon>business</mat-icon>
          </button>
          <mat-icon>chevron_right</mat-icon> Customer Management
        </h1>
      </div>
    </div>
    <!-- SEARCH BAR  -->
    <div class="action-container" fxLayout="column" fxLayout.gt-sm="row">
      <div class="search-wrapper" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
        <div class="search" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="secondary-text">search</mat-icon>
          <input #mainInput [disabled]="isLoading" (keyup)="applyFilter(searchTerm)" [(ngModel)]="searchTerm"
            [placeholder]="isLoading ? 'Please wait...' : 'Search Customer'">
          <button mat-icon-button (click)="onClearSearch()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="hero-text">
      <mat-icon class="hero-icon">people</mat-icon>
    </div>
  </div>
  <!-- /HEADER  -->

  <div *ngIf="isLoading" class="loader">
    <mat-spinner [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}"></mat-spinner>
  </div>

  <mat-table class="item-list" matSort [dataSource]="dataSource" [@animateStagger]="{value:'50'}" *ngIf="!isLoading && dataSource?.data.length">
    <!-- customerName Column -->
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>
    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
    </ng-container>
    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item (click)="openEditCustomerDialog(row)"><mat-icon>build</mat-icon> Edit</button>
          <hr>
          <button mat-menu-item (click)="onDelete(row.customerID)"><mat-icon>delete</mat-icon> Delete</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
    <ng-container matColumnDef="detail-button">

      <mat-header-cell *matHeaderCellDef fxHide.gt-sm></mat-header-cell>
      <mat-cell *matCellDef="let row" fxHide.gt-sm>
        <button mat-icon-button class="sidebar-toggle" (click)="toggleSidebar('file-manager-details-sidebar')">
          <mat-icon class="secondary-text">info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"
      [ngClass]="{'selected' : row.customerID == selected?.customerID}" [@animate]="{value:'*',params:{y:'100%'}}" matRipple>
    </mat-row>
  </mat-table>
  <!-- <div *ngIf="!isLoading && dataSource?.filteredData.length === dataSource?.data.length"
    [@animate]="{value:'*',params:{delay:'500ms', y:'225px'}}" class="center-box-message">
    Please search for an customer.
  </div> -->
  <div *ngIf="!isLoading && dataSource?.data.length === 0"
    [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}" class="center-box-message">
    No customers found.
  </div>
  <div class="bottom-section" fxLayout="row" fxLayoutAlign="space-between center">
    <div [@animate]="{value:'*',params:{delay:'500ms',scale:'0.2'}}" >
      <button mat-raised-button class="accent" (click)="openEditCustomerDialog()"  [disabled]="isLoading" fxLayoutAlign="center center" style="height: 44px;">
          <mat-icon>add_circle_outline</mat-icon>
          Invite New Customer
      </button>
    </div>
    <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>