<div class="main" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="circle accent"></div>
            <span style="color: rgba(0, 0, 0, 0.87); font-size: 14px; position: absolute; margin-top: 44px;">Complete</span>
        </div>
        <hr class="accent" width="100%">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="circle accent"></div>
            <span style="color: rgba(0, 0, 0, 0.87); font-size: 14px; position: absolute; margin-top: 44px;">Approved</span>
        </div>
        <hr  width="100%">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="circle"></div>
            <span style="color: #ccc; font-size: 14px; position: absolute; margin-top: 44px;">Confirmed</span>
        </div>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 2px;">
        <div class="complete">
            COMPLETE
        </div>
        <div class="complete">
            COMPLETE
        </div>
        <div class="complete">
        </div>
        
    </div> -->
</div>